main {
    div {
        width: 80%;
        margin:  40 px;

        table {
            width: 80%;
            border: 0.2px solid rgb(207, 39, 151);
            border-collapse: collapse;

            th, td {
                padding: 2px;
            }

            td:last-child{
                display: flex;
                justify-content: center;
   button {
              
    margin: 2px;
    background-color: rgb(207, 39, 151); 
    border: 0.2px solid rgb(207, 39, 151);
    padding: 5px;
    border-radius: 5px;
    color: rgb(240, 94, 223); 
}

            }
        }
    }
}